/* 0 -- P I N K   R U B Y  */
@font-face {
  font-family: 'AlegreyaSans';
  src: url(../fonts/AlegreyaSans-ExtraBold.ttf); }
@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf); }
h1, h2, h3, h4, h5, h6, p, a {
  font-family: 'OpenSans', arial, sans-serif, helvetica; }

body {
  font-family: 'OpenSans', arial, sans-serif, helvetica; }

a {
  text-decoration: none !important;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms; }

h6 {
  font-size: 0.7em; }

h5 {
  font-size: 0.9em; }

h3 {
  font-size: 1.1em; }

h2 {
  font-size: 1.3em; }

h1 {
  font-size: 1.5em; }

/* LABEL, BADGE */
.label-custom, .badge-custom {
  background-color: #bb3f39; }

/* CLEAR BOTH */
.clear-both {
  clear: both; }

/* FLOAT RIGHT */
@media (min-width: 768px) {
  .float-right-sm {
    float: right; } }

.bottom-wave-pattern {
  position: absolute;
  height: 14px;
  width: 100%;
  bottom: -14px;
  background: url(../images/bottom-pattern.png) repeat-x bottom center; }

/* CUSTOM LIST STYLE IMAGE */
ul.custom-pagination a {
  color: #bb3f39; }
ul.custom-pagination li.active a {
  background-color: #bb3f39;
  border-color: #bb3f39; }
  ul.custom-pagination li.active a:hover {
    background-color: #81332f !important;
    border-color: #81332f !important; }

/* CUSTOM-FORM */
.custom-form input, .custom-form textarea, .custom-form select {
  padding: 5px;
  box-shadow: none; }
.custom-form select {
  margin-bottom: 30px; }
.custom-form.pre-validation .form-group {
  position: relative;
  margin-bottom: 30px; }
.custom-form.pre-validation label.error {
  position: absolute;
  bottom: -30px;
  left: 0; }
.custom-form label {
  color: #555; }
  .custom-form label .form-require {
    color: #bb3f39;
    font-weight: normal; }
.custom-form input[type=number]::-webkit-inner-spin-button, .custom-form input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* BUTTON-GROUP */
.btn-group {
  margin-bottom: 20px; }
  .btn-group .custom-btn {
    margin: 5px 0; }
    .btn-group .custom-btn:first-child {
      margin-right: 0 !important; }
    .btn-group .custom-btn:last-child {
      margin-left: 0 !important; }
  .btn-group.btn-group-right .custom-btn {
    float: right; }
  .btn-group.btn-group-left .custom-btn {
    float: left; }

/* COLLAPSE LIST */
ul.custom-collapse-list a {
  cursor: pointer; }
ul.custom-collapse-list ul.level-2 {
  display: none;
  padding-left: 23px; }

/* FILTER OVERLAY */
.filter-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  -o-opacity: 0.4;
  -ms-opacity: 0.4;
  top: 0;
  left: 0;
  z-index: 0; }

/* H T - B T N */
.custom-btn {
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  color: #999;
  background-color: #fafafa;
  border: 1px solid #c3c3c3;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms; }

.custom-btn:hover {
  border-color: #bb3f39 !important;
  background-color: #bb3f39 !important;
  color: #fff !important; }

/* btn-float */
.custom-btn.btn-float {
  border-color: #81332f;
  background-color: #81332f;
  color: #fff;
  box-shadow: 2px 2px 1px #bb3f39; }

.custom-btn.btn-float:hover {
  color: #fff !important;
  background-color: #81332f;
  border-color: #81332f; }

/* btn-load-more */
.custom-btn.load-more {
  background-color: #bb3f39;
  border: none;
  color: #fff !important;
  margin-top: 20px; }
  .custom-btn.load-more:hover {
    background-color: #81332f !important; }

ul.custom-ulist {
  list-style-image: url(../images/shirt-icon.png);
  padding-left: 30px; }
  ul.custom-ulist li {
    line-height: 30px; }
    ul.custom-ulist li a {
      color: #777;
      transition: 200ms;
      -webkit-transition: 200ms;
      -moz-transition: 200ms;
      -o-transition: 200ms; }
      ul.custom-ulist li a:hover {
        margin-left: 5px; }

/* MEDIA CONTAINER */
.media-container {
  transition: none;
  -webkit-transform: translateZ(0) scale(1, 1); }
  .media-container .inner {
    position: relative; }
    .media-container .inner .hover-overlay {
      transition: 300ms;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      display: block;
      border: none !important;
      margin: 0 !important;
      padding: 0 !important;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #000;
      text-align: center; }
    .media-container .inner .hover-overlay.color {
      background-color: #bb3f39; }
    .media-container .inner .caption-heading {
      font-size: 1.2em;
      color: #fff;
      text-transform: uppercase;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: block !important;
      padding: 20px;
      background-color: #bb3f39;
      margin: 0;
      opacity: 0.7;
      transition: 300ms;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms; }
    .media-container .inner .caption-overlay {
      transition: 300ms;
      -webkit-transition: 300ms;
      -moz-transition: 300ms;
      -o-transition: 300ms;
      display: block;
      border: none !important;
      margin: 0 !important;
      position: absolute;
      width: 100%;
      padding: 20px;
      bottom: -200%;
      background-color: #bb3f39;
      opacity: 0.7; }
      .media-container .inner .caption-overlay .heading {
        font-size: 1.2em;
        color: #fff;
        text-transform: uppercase; }
      .media-container .inner .caption-overlay .role {
        color: #dadada; }
      .media-container .inner .caption-overlay .bio {
        color: #fff;
        line-height: 1.7; }
    .media-container .inner .icon {
      position: absolute;
      font-size: 3em;
      opacity: 0;
      color: #fff;
      top: 50%;
      left: 50%;
      margin-left: -32px;
      margin-top: -32px;
      transition: none;
      display: block; }
    .media-container .inner .price-wrapper {
      position: absolute;
      border: none !important;
      top: 50%;
      left: 50%;
      text-align: center; }
      .media-container .inner .price-wrapper p {
        margin: 5px 0; }
      .media-container .inner .price-wrapper .price, .media-container .inner .price-wrapper .saleoff {
        font-size: 3em;
        opacity: 0;
        color: #fff;
        line-height: 30px;
        cursor: default; }
        @media (max-width: 768px) {
          .media-container .inner .price-wrapper .price, .media-container .inner .price-wrapper .saleoff {
            font-size: 4em; } }
      .media-container .inner .price-wrapper .saleoff {
        font-size: 1.5em;
        color: #c3c3c3;
        line-height: 30px;
        text-decoration: line-through; }
        @media (max-width: 768px) {
          .media-container .inner .price-wrapper .saleoff {
            font-size: 2em; } }
    .media-container .inner .price-wrapper.large .price, .media-container .inner .price-wrapper.large .saleoff {
      font-size: 4em; }
    .media-container .inner .price-wrapper.large .saleoff {
      font-size: 2em; }
    .media-container .inner .price-wrapper.small .price, .media-container .inner .price-wrapper.small .saleoff {
      font-size: 2em; }
    .media-container .inner .price-wrapper.small .saleoff {
      font-size: 1em; }
  .media-container:hover .hover-overlay {
    opacity: 0.6; }
  .media-container:hover .icon, .media-container:hover .price, .media-container:hover .inner .price-wrapper .saleoff {
    opacity: 1 !important; }
  .media-container:hover .caption-heading {
    bottom: -100%; }
  .media-container:hover .caption-overlay {
    bottom: 0; }

/* JCarousel */
.jcarousel-wrapper {
  margin-bottom: 10px;
  /* position for carousel button */
  position: relative;
  /* disable style list for carousel */
  /* JCarousel */
  /* carousel control */ }
  .jcarousel-wrapper ul {
    padding: 0;
    margin: 0; }
    .jcarousel-wrapper ul li {
      list-style: none;
      display: block; }
  .jcarousel-wrapper .jcarousel {
    position: relative;
    margin: 0;
    overflow: hidden;
    width: 100%; }
    .jcarousel-wrapper .jcarousel ul {
      width: 20000em;
      position: relative;
      list-style: none;
      margin: 0;
      padding: 0; }
      .jcarousel-wrapper .jcarousel ul li {
        float: left; }
  .jcarousel-wrapper .jcarousel-control-next, .jcarousel-wrapper .jcarousel-control-prev {
    margin-top: -57px;
    font-size: 5em;
    position: absolute;
    top: 50% !important;
    z-index: 99;
    padding-bottom: 15px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2); }
  .jcarousel-wrapper .jcarousel-control-prev {
    left: 0px;
    border-radius: 0 10px 10px 0; }
  .jcarousel-wrapper .jcarousel-control-next {
    right: 0px;
    border-radius: 10px 0 0 10px; }

.body-wrapper .body-section {
  position: relative;
  margin-bottom: 10px; }
  .body-wrapper .body-section .section-heading {
    margin: 0;
    padding: 10px 0px;
    color: #bb3f39; }
    .body-wrapper .body-section .section-heading a {
      color: #bb3f39;
      padding-right: 10px;
      float: left; }
      .body-wrapper .body-section .section-heading a:hover {
        color: #81332f; }
      .body-wrapper .body-section .section-heading a:before, .body-wrapper .body-section .section-heading a:after {
        display: table;
        content: " ";
        clear: both; }
    .body-wrapper .body-section .section-heading hr {
      border: 1px dashed #777;
      border-width: 1px 0 0 0;
      margin-top: 12px;
      margin-bottom: 10px; }
  @media (min-width: 768px) {
    .body-wrapper .body-section {
      margin-left: -15px;
      margin-right: -15px; } }
  .body-wrapper .body-section.banner {
    position: relative;
    height: 300px;
    overflow: hidden; }
    @media (max-width: 767px) {
      .body-wrapper .body-section.banner {
        height: 500px; } }
    .body-wrapper .body-section.banner .caption {
      background-color: rgba(0, 0, 0, 0.4);
      bottom: 0;
      color: #fff;
      font-size: 1em;
      height: auto;
      left: 0;
      padding: 20px;
      position: absolute;
      width: 100%; }
      .body-wrapper .body-section.banner .caption .col-left {
        padding-bottom: 20px; }
      @media (min-width: 768px) {
        .body-wrapper .body-section.banner .caption .col-right {
          text-align: right; } }
  .body-wrapper .body-section.products-grid .item {
    margin-bottom: 30px; }
    .body-wrapper .body-section.products-grid .item:hover .prd-name {
      color: #55CAC6; }
    .body-wrapper .body-section.products-grid .item .media-container .inner {
      border: 1px solid #ddd;
      background: url(../images/pattern01.png); }
      .body-wrapper .body-section.products-grid .item .media-container .inner img {
        margin: 0 auto; }
      @media (min-width: 768px) {
        .body-wrapper .body-section.products-grid .item .media-container .inner {
          overflow: hidden; } }
      @media (min-width: 768px) and (max-width: 991px) {
        .body-wrapper .body-section.products-grid .item .media-container .inner {
          height: 233px; } }
      @media (min-width: 992px) {
        .body-wrapper .body-section.products-grid .item .media-container .inner {
          height: 221px; } }
      @media (min-width: 1200px) {
        .body-wrapper .body-section.products-grid .item .media-container .inner {
          height: 195px; } }
    .body-wrapper .body-section.products-grid .item .prd-name {
      display: block;
      display: block;
      color: #555;
      margin-top: 10px;
      margin-bottom: 10px; }
      @media (min-width: 768px) {
        .body-wrapper .body-section.products-grid .item .prd-name {
          height: 40px; } }
    .body-wrapper .body-section.products-grid .item .prd-price {
      font-weight: 700;
      color: #bb3f39; }
      .body-wrapper .body-section.products-grid .item .prd-price span {
        border: 2px solid #aaa;
        border-right: none;
        padding: 2px 15px 2px 10px;
        background: url(../images/price-tail.png) center right no-repeat; }
      .body-wrapper .body-section.products-grid .item .prd-price .sale-off {
        text-decoration: line-through; }
    .body-wrapper .body-section.products-grid .item .content {
      -webkit-transform: translateZ(0) scale(1, 1);
      margin-top: 15px;
      margin-bottom: 15px;
      text-align: center !important;
      height: 60px;
      margin: 0;
      background-color: #333;
      padding: 15px 5px;
      height: 110px; }
      .body-wrapper .body-section.products-grid .item .content a {
        color: #fff;
        display: block;
        margin-top: 10px; }
      .body-wrapper .body-section.products-grid .item .content .lable {
        display: block;
        margin-bottom: 2px; }
      .body-wrapper .body-section.products-grid .item .content .sale-off {
        text-decoration: line-through; }

header {
  position: relative;
  z-index: 3;
  background: #fff; }
  header #roof {
    position: absolute;
    top: 0;
    height: 42px;
    width: 100%; }
    @media (min-width: 768px) {
      header #roof {
        background: url(../images/header-roof.png) center; } }
    @media (max-width: 767px) {
      header #roof {
        background: #bb3f39; } }
  header .inner {
    position: relative;
    min-height: 135px; }
    header .inner form.search {
      padding-top: 4px;
      padding-bottom: 20px; }
      header .inner form.search .form-group {
        margin: 0 !important;
        background-color: #fff;
        border-radius: 20px;
        overflow: hidden; }
        header .inner form.search .form-group input {
          border: none;
          box-shadow: none; }
        header .inner form.search .form-group button {
          border: none;
          background-color: transparent; }
          header .inner form.search .form-group button i.fa {
            color: #555; }
    @media (min-width: 992px) {
      header .inner #logo {
        position: absolute;
        left: 0;
        top: -40px; } }
    @media (max-width: 767px) {
      header .inner #logo img {
        padding-bottom: 20px;
        margin: 0 auto; } }
    header .inner .header-panel {
      text-align: right !important;
      padding: 0;
      color: #777; }
      header .inner .header-panel .user-action {
        display: block;
        margin-bottom: 20px; }
        header .inner .header-panel .user-action a {
          color: #777 !important; }
        @media (min-width: 768px) {
          header .inner .header-panel .user-action {
            text-align: right; } }
        @media (max-width: 767px) {
          header .inner .header-panel .user-action {
            text-align: center; } }
        header .inner .header-panel .user-action i.fa {
          font-size: 1.5em; }
        header .inner .header-panel .user-action .action {
          background: url(../images/middot.png) no-repeat center right;
          padding: 15px; }
          header .inner .header-panel .user-action .action:first-child {
            padding-left: 0; }
          header .inner .header-panel .user-action .action:last-child {
            background: none;
            padding-right: 0; }

.nav-wrapper {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.075);
  z-index: 100; }
  .nav-wrapper.sticky {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    border-top: 0;
    margin-top: 0; }
  .nav-wrapper .navbar-custom {
    padding-top: 10px;
    padding-bottom: 8px;
    margin: 0;
    background-color: #fff !important;
    border-radius: 0;
    border: none; }
    @media (min-width: 768px) {
      .nav-wrapper .navbar-custom a {
        border-radius: 4px; } }
    .nav-wrapper .navbar-custom a:hover {
      background-color: #bb3f39 !important;
      color: #fff !important; }
    @media (min-width: 768px) {
      .nav-wrapper .navbar-custom .navbar-collapse {
        overflow: visible;
        padding-left: 0;
        padding-right: 0; } }
    .nav-wrapper .navbar-custom .navbar-nav li.active a, .nav-wrapper .navbar-custom .navbar-nav li.open a {
      background-color: #bb3f39 !important;
      color: #fff; }
    @media (min-width: 768px) {
      .nav-wrapper .navbar-custom .navbar-nav li.dropdown .dropdown-menu {
        border-radius: 4px;
        overflow: hidden; }
      .nav-wrapper .navbar-custom .navbar-nav li.dropdown:hover .dropdown-menu {
        display: block; } }
    .nav-wrapper .navbar-custom .navbar-nav .dropdown-menu li a {
      background-color: inherit !important;
      border-radius: 0 !important; }
      .nav-wrapper .navbar-custom .navbar-nav .dropdown-menu li a:hover {
        background-color: #bb3f39 !important; }

/* SIDEBAR */
#sidebar .sidebox {
  padding-bottom: 15px;
  margin-bottom: 15px;
  -webkit-transform: translateZ(0) scale(1, 1); }
  #sidebar .sidebox h1 {
    margin: 0;
    font-size: 1.2em;
    padding: 10px 0px;
    color: #bb3f39; }
    #sidebar .sidebox h1 span.sidebar-heading {
      padding-right: 10px;
      float: left; }
      #sidebar .sidebox h1 span.sidebar-heading:before, #sidebar .sidebox h1 span.sidebar-heading:after {
        display: table;
        content: " ";
        clear: both; }
    #sidebar .sidebox h1 hr {
      border: 1px dashed #777;
      border-width: 1px 0 0 0;
      margin-top: 11px; }
  #sidebar .sidebox.statistic p {
    font-weight: bold;
    color: #777; }
    #sidebar .sidebox.statistic p .value {
      text-align: right;
      font-weight: normal;
      color: #bb3f39; }
  #sidebar .sidebox.map-wrapper #map {
    height: 200px; }
    @media (min-width: 768px) {
      #sidebar .sidebox.map-wrapper #map {
        border-radius: 4px; } }
  #sidebar .sidebox.brands .inner:before, #sidebar .sidebox.brands .inner:after {
    display: table;
    content: " "; }
  #sidebar .sidebox.brands .inner:after {
    clear: both; }
  #sidebar .sidebox.brands .brand {
    padding: 5px;
    height: 85px;
    overflow: hidden; }
    #sidebar .sidebox.brands .brand img {
      margin: 0 auto; }
  #sidebar .sidebox.intro {
    color: #777; }

#content-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #fff;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.075);
  position: relative;
  z-index: 2; }
  @media (min-width: 768px) and (max-width: 991px) {
    #content-wrapper {
      margin-bottom: 380px; } }
  @media (min-width: 992px) {
    #content-wrapper {
      margin-bottom: 350px; } }
  @media (min-width: 1200px) {
    #content-wrapper {
      margin-bottom: 350px; } }

/* FOOTER */
footer {
  background: #fff;
  bottom: 0;
  width: 100%; }
  @media (min-width: 768px) {
    footer {
      position: fixed; } }
  footer a {
    color: #bb3f39 !important; }
    footer a:hover {
      color: #81332f !important; }
  footer .container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #bb3f39; }
    @media (max-width: 767px) {
      footer .container #logo {
        margin-left: auto;
        margin-right: auto; } }
    footer .container .head {
      font-size: 2em; }
    footer .container ul {
      list-style: none;
      padding: 0; }
      @media (max-width: 767px) {
        footer .container ul {
          padding: 15px 0 0 0; } }
      footer .container ul li a:hover {
        margin-left: 5px; }
  @media (min-width: 768px) {
    footer .footer-prebottom {
      background: -moz-linear-gradient(top, rgba(239, 231, 179, 0.65) 0%, rgba(255, 253, 247, 0) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(239, 231, 179, 0.65)), color-stop(100%, rgba(255, 253, 247, 0)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(239, 231, 179, 0.65) 0%, rgba(255, 253, 247, 0) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(239, 231, 179, 0.65) 0%, rgba(255, 253, 247, 0) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(239, 231, 179, 0.65) 0%, rgba(255, 253, 247, 0) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(239, 231, 179, 0.65) 0%, rgba(255, 253, 247, 0) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6efe7b3', endColorstr='#00fffdf7',GradientType=0 );
      /* IE6-9 */
      padding: 20px 100px 10px 100px;
      border-radius: 100px 100px 0 0;
      border-bottom: none; } }
  footer .footer-prebottom .container {
    padding-top: 5px;
    padding-bottom: 5px; }
  footer .footer-prebottom .social-icons {
    font-size: 0.9em; }
    @media (max-width: 767px) {
      footer .footer-prebottom .social-icons {
        margin-bottom: 20px; } }
    footer .footer-prebottom .social-icons i.fa {
      font-size: 1.5em;
      padding-right: 10px; }
    footer .footer-prebottom .social-icons a {
      padding: 0 10px;
      background-color: transparent; }
      footer .footer-prebottom .social-icons a:first-child {
        padding-left: 0; }
      footer .footer-prebottom .social-icons a:last-child {
        padding-right: 0; }
  @media (min-width: 768px) {
    footer .footer-prebottom .mauris {
      text-align: right;
      font-size: 0.9em; } }
  footer .footer-bottom {
    height: 50px;
    background: url("../images/pattern-global-dot.png"); }
