@mixin section-padding {
	padding-top: 100px;
	padding-bottom: 100px;
}
@mixin margin-tb($value) {
	margin-top: $value;
	margin-bottom: $value;
}
@mixin padding-tb($value) {
	padding-top: $value;
	padding-bottom: $value;
}
@mixin padding-t-b($value1, $value2) {
	padding-top: $value1;
	padding-bottom: $value2;
}
@mixin transition($value) {
	transition: $value;
	-webkit-transition: $value;
	-moz-transition: $value;
	-o-transition: $value;
}
@mixin column-count($value) {
	-webkit-column-count: $value;
	-moz-column-count: $value;
	-o-column-count: $value;
	-ms-column-count: $value;
}
@mixin transform($value) {
	-webkit-transform: $value;
	-moz-transform: $value;
	-o-transform: $value;
	-ms-transform: $value;
}
@mixin opacity($value) {
	opacity: $value;
	-webkit-opacity: $value;
	-moz-opacity: $value;
	-o-opacity: $value;
	-ms-opacity: $value;
}
@mixin border-radius($a, $b, $c, $d) {
	-webkit-border-radius: $a $b $c $d;
	-moz-border-radius: $a $b $c $d;
	border-radius: $a $b $c $d;
}
@font-face{
	font-family: 'AlegreyaSans';
	src: url(../fonts/AlegreyaSans-ExtraBold.ttf);
}
@font-face{
	font-family: 'OpenSans';
	src: url(../fonts/OpenSans-Regular.ttf);
}
h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'OpenSans', arial, sans-serif, helvetica;
}
body{
	font-family: 'OpenSans', arial, sans-serif, helvetica;
}
a {
	text-decoration: none !important;
	@include transition(300ms);
}
a:hover {
	// color: $global-color !important;
}
$heading: 0.5em;
h6 { font-size: $heading + 0.2em; }
h5 { font-size: $heading + 0.4em; }
h3 { font-size: $heading + 0.6em; }
h2 { font-size: $heading + 0.8em; }
h1 { font-size: $heading + 1em; }