/* LABEL, BADGE */
.label-custom, .badge-custom {
	background-color: $global-color;
}

/* CLEAR BOTH */
.clear-both {
	clear: both;
}

/* FLOAT RIGHT */
.float-right-sm {
	@media(min-width: 768px) {
		float: right;
	}
}

.bottom-wave-pattern {
	position: absolute;
	height: 14px;
	width: 100%;
	bottom: -14px;
	background: url(../images/bottom-pattern.png) repeat-x  bottom center;
}

/* CUSTOM LIST STYLE IMAGE */
ul.custom-pagination {

	a {
		color: $global-color;
	}
	li.active a {
		background-color: $global-color;
		border-color: $global-color;
		&:hover {
			background-color: $global-bg-hover !important;
			border-color: $global-bg-hover !important;
		}
	}
}

/* CUSTOM-FORM */
.custom-form {
	input, textarea, select {
		padding: 5px;
		// border-radius: 2px;
		box-shadow: none;
	}
	select {
		margin-bottom: 30px;
	}
	&.pre-validation {
		.form-group {
			position: relative;
			margin-bottom: 30px;
		}
		label.error {
			position: absolute;
			bottom: -30px;
			left: 0;
		}
	}
	label {
		color: #555;
		.form-require {
			color: $global-color;
			font-weight: normal;
		}
	}
	input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
}


/* BUTTON-GROUP */
.btn-group {
	margin-bottom: 20px;
	.custom-btn {
		margin: 5px 0;
		&:first-child {
			margin-right: 0 !important;
		}
		&:last-child {
			margin-left: 0 !important;
		}
	}
	&.btn-group-right {
		.custom-btn {
			float: right;
		}
	}
	&.btn-group-left {
		.custom-btn {
			float: left;
		}
	}
}

/* COLLAPSE LIST */
ul.custom-collapse-list {
	a {
		cursor: pointer;
	}
	ul.level-2 {
		display: none;
		padding-left: 23px;
	}
}


/* FILTER OVERLAY */
.filter-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	@include opacity(0.4);
	top: 0;
	left: 0;
	z-index: 0;
}



/* H T - B T N */
.custom-btn {
	border-radius: 4px;
	padding: 10px 20px;
	text-align: center;
	color: #999;
	background-color: #fafafa;
	border: 1px solid #c3c3c3;
	@include transition(300ms);
}
.custom-btn:hover {
	border-color: $global-color !important;
	background-color: $global-color !important;
	color: #fff !important;
}
/* btn-float */
.custom-btn.btn-float {
	border-color: $global-bg-hover;
	background-color: $global-bg-hover;
	color: #fff;
	box-shadow: 2px 2px 1px $global-color;
}
.custom-btn.btn-float:hover {
	color: #fff !important;
	background-color: $global-bg-hover;
	border-color: $global-bg-hover;
}
/* btn-load-more */
.custom-btn.load-more {
	background-color: $global-color;
	border: none;
	color: #fff !important;
	margin-top: 20px;
	&:hover {
		background-color: $global-bg-hover !important;
	}
}

ul.custom-ulist {
	list-style-image: url(../images/shirt-icon.png);
	padding-left: 30px;
	li {
		line-height: 30px;
		a {
			color: #777;
			@include transition(200ms);
			&:hover {
				margin-left: 5px;
			}
		}
	}
}


/* MEDIA CONTAINER */
.media-container {
	transition: none;
	// -webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	.inner {
		position: relative;
		.hover-overlay {
			@include transition(300ms);
			display: block;
			border: none !important;
			margin: 0 !important;
			padding: 0 !important;
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: #000;
			text-align: center;

		}
		.hover-overlay.color {
			background-color: $global-color;
		}
		.caption-heading {
			font-size: 1.2em;
			color: #fff;
			text-transform: uppercase;
			position: absolute;
			bottom: 0;
			width: 100%;
			display: block !important;
			padding: 20px;
			background-color: $global-color;
			margin: 0;
			opacity: 0.7;
			@include transition(300ms);
		}
		.caption-overlay {
			@include transition(300ms);
			display: block;
			border: none !important;
			margin: 0 !important;
			position: absolute;
			width: 100%;
			padding: 20px;
			bottom: -200%;
			background-color: $global-color;
			opacity: 0.7;
			.heading {
				font-size: 1.2em;
				color: #fff;
				text-transform: uppercase;
			}
			.role {
				color: #dadada;
			}
			.bio {
				color: #fff;
				line-height: 1.7;
			}
		}
		.icon {
			position: absolute;
			font-size: 3em;
			opacity: 0;
			color: #fff;
			top: 50%;
			left: 50%;
			margin-left: -32px;
			margin-top: -32px;
			transition: none;
			display: block;
		}
		.price-wrapper {
			position: absolute;
			border: none !important;
			top: 50%;
			left: 50%;
			text-align: center;
			p {
				margin: 5px 0;
			}
			.price {
				font-size: 3em;
				opacity: 0;
				color: #fff;
				line-height: 30px;
				cursor: default;
				@media (max-width: 768px) {
					font-size: 4em;
				}
			}
			.saleoff {
				font-size: 1.5em;
				@extend .price;
				color: #c3c3c3;
				line-height: 30px;
				text-decoration: line-through;
				@media (max-width: 768px) {
					font-size: 2em;
				}
			}
		}
		.price-wrapper.large {
			.price {
				font-size: 4em;
			}
			.saleoff {
				font-size: 2em;
			}
		}
		.price-wrapper.small {
			.price {
				font-size: 2em;
			}
			.saleoff {
				font-size: 1em;
			}
		}
	}
	&:hover {
		.hover-overlay {
			opacity: 0.6;
		}
		.icon, .price {
			opacity: 1 !important;
		}
		.caption-heading {
			bottom: -100%;
		}
		.caption-overlay {
			bottom: 0;
		}
	}
}

/* JCarousel */
.jcarousel-wrapper {
	margin-bottom: 10px;
	/* position for carousel button */
	position: relative;
	/* disable style list for carousel */
	ul {
		padding: 0;
		margin: 0;
		li {
			list-style: none;
			display: block;
		}
	}
	/* JCarousel */
	.jcarousel {
		position: relative;
		margin: 0;
		overflow: hidden;
		width: 100%;
		ul {
			width: 20000em;
			position: relative;
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				float: left;
			}
		}
	}

	/* carousel control */
	.jcarousel-control-next, .jcarousel-control-prev {
		margin-top: -57px;
		font-size: 5em;
		// color: #b4b4b4;
		position: absolute;
		top: 50% !important;
		z-index: 99;
		padding-bottom: 15px;
		color: #fff;
		background-color: rgba(0,0,0,0.2);
		&:hover {
		}
	}
	.jcarousel-control-prev {
		left: 0px;
		border-radius: 0 10px 10px 0;
	}
	.jcarousel-control-next {
		right: 0px;
		border-radius: 10px 0 0 10px;
	}
}
.body-wrapper {
	.body-section {
		position: relative;
		margin-bottom: 10px;
		.section-heading {
			margin: 0;
			padding: 10px 0px;
			color: $global-color;
			a {
				color: $global-color;
				padding-right: 10px;
				float: left;
				&:hover {
					color: $global-bg-hover;
				}
				&:before, &:after {
					display: table;
					content: " ";
					clear: both;
				}
			}
			hr {
				border:1px dashed #777;
				border-width: 1px 0 0 0;
				margin-top: 12px;
				margin-bottom: 10px;
			}
		}
		@media (min-width: 768px) {
			margin-left: -15px;
			margin-right: -15px;
		}
		&.banner {
			position: relative;
			height: 300px;
			@media (max-width: 767px) {
				height: 500px;
			}
			overflow: hidden;
			.caption {
				background-color: rgba(0,0,0,0.4);
				bottom: 0;
				color: #fff;
				font-size: 1em;
				height: auto;
				left: 0;
				padding: 20px;
				position: absolute;
				width: 100%;
				.col-left {
					padding-bottom: 20px;
				}
				.col-right {
					@media (min-width: 768px) {
						text-align: right;
					}
				}
			}
		}
		&.products-grid {
			.item {
				margin-bottom: 30px;
				&:hover{
					.prd-name {
						color: #55CAC6;
					}
				}
				.media-container {
					.inner {
						border: 1px solid #ddd;
						background: url(../images/pattern01.png);
						img {
							margin: 0 auto;
						}
						@media (min-width: 768px) {
							overflow: hidden;
						}
						@media (min-width: 768px) and (max-width: 991px) {
							height: 233px;
						}
						@media (min-width: 992px) {
							height: 221px;
						}
						@media (min-width: 1200px) {
							height: 195px;
						}
					}
				}
				.prd-name {
					display: block;
					display: block;
					color: #555;
					@include margin-tb(10px);
					@media (min-width: 768px) {
						height: 40px;
					}
				}
				.prd-price {
					font-weight: 700;
					color: $global-color;
					span {
						border: 2px solid #aaa;
						border-right: none;
						padding: 2px 15px 2px 10px;
						background: url(../images/price-tail.png) center right no-repeat;
					}
					.sale-off {
						text-decoration: line-through;
					}
				}
				.content {
					-webkit-transform: translateZ(0) scale(1.0, 1.0);
					@include margin-tb(15px);
					text-align: center !important;
					height: 60px;
					margin: 0;
					background-color: #333;
					padding: 15px 5px;
					height: 110px;
					a {
						color: #fff;
						display: block;
						margin-top: 10px;
					}
					.lable {
						display: block;
						margin-bottom: 2px;
					}
					.sale-off {
						text-decoration: line-through;
					}
					
				}
			}
		}
	}
}