// HEADER
header {
	position: relative;
	z-index: 3;
	background: #fff;
	#roof {
		position: absolute;
		top: 0;
		height: 42px;
		width: 100%;
		@media (min-width: 768px){
			background: url(../images/header-roof.png) center;
		}
		@media (max-width: 767px){
			background: $global-color;
		}
	}
	.inner {
		position: relative;
		min-height: 135px;
		form.search {
			@include padding-t-b(4px,20px);
			.form-group {
				margin: 0 !important;
				background-color: #fff;
				border-radius: 20px;
				overflow: hidden;
				input {
					border: none;
					box-shadow: none;
				}
				button {
					border: none;
					background-color: transparent;
					i.fa {
						color: #555;
					}
				}
			}
		}
		#logo {
			@media(min-width: 992px){
				position: absolute;
				left: 0;
				top: -40px;
			}
			@media (min-width: 768px){
				// text-align: right;
			}
			@media (max-width: 767px){
				img {
					padding-bottom: 20px;
					margin: 0 auto;
				}
			}
		}
		.header-panel {
			text-align: right !important;
			padding: 0;
			color: #777;
			.user-action {
				display: block;
				margin-bottom: 20px;
				a {
					color: #777 !important;
				}
				@media (min-width: 768px){
					text-align: right;
				}
				@media (max-width: 767px){
					text-align: center;
				}
				i.fa {
					font-size: 1.5em;
				}
				.action {
					background: url(../images/middot.png) no-repeat center right;
					padding: 15px;
					&:first-child {
						padding-left: 0;
					}
					&:last-child {
						background: none;
						padding-right: 0;
					}
				}
			}
		}
	}
}


// NAVBAR
.nav-wrapper{
	// margin: 50px auto;
	position: relative;
	border-top: 1px solid #eee;
	box-shadow: 0 -2px 5px rgba(0,0,0,0.075);
	z-index: 100;
	&.sticky {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		border-top: 0;
		margin-top: 0;
		.bottom-wave-pattern {
			// bottom: 6px;
		}
	}
	.navbar-custom {
		@include padding-t-b(10px,8px);
		margin: 0;
		background-color: #fff !important;
		border-radius: 0;
		border: none;
		a {
			// color: #000 !important;
			@media (min-width: 768px) {
				border-radius: 4px;
			}
		}
		a:hover {
			background-color: $global-color !important;
			color: #fff !important;
		}
		.navbar-header {
			button {
				// border-color: #fff;
				.icon-bar {
					// background-color: #fff
				}
				&:hover, &:focus {
					// background-color: $global-bg-hover !important;
				}
			}
		}
		.navbar-collapse {
			@media (min-width: 768px) {
				overflow: visible;
				padding-left: 0;
				padding-right: 0;
			}
		}
		.navbar-nav {
			li.active, li.open {
				a {
					background-color: $global-color !important;
					color: #fff;
				}
			}
			@media (min-width: 768px) {
				li.dropdown{
					.dropdown-menu {
						border-radius: 4px;
						overflow: hidden;
					}
					&:hover .dropdown-menu {
						display: block;
					}
				}
			}
			.dropdown-menu {
				li {
					a {
						background-color: inherit !important;
						border-radius: 0 !important;
						&:hover {
							background-color: $global-color !important;
						}
					}
				}
			}
		}
	}
}

/* SIDEBAR */
#sidebar {
	.sidebar-inner {
		// box-shadow: 1px 1px 5px rgba(0,0,0,0.175);
	}
	.sidebox {
		padding-bottom: 15px;
		margin-bottom: 15px;
		-webkit-transform: translateZ(0) scale(1.0, 1.0);
		h1 {
			margin: 0;
			font-size: 1.2em;
			padding: 10px 0px;
			color: $global-color;
			span.sidebar-heading {
				padding-right: 10px;
				float: left;
				&:before, &:after {
					display: table;
					content: " ";
					clear: both;
				}
			}
			hr {
				border:1px dashed #777;
				border-width: 1px 0 0 0;
				margin-top: 11px;
			}
		}
		&.statistic {
			p {
				font-weight: bold;
				color: #777;
				.value {
					text-align: right;
					font-weight: normal;
					color: $global-color;
				}
			}
		}
		&.map-wrapper {
			#map {
				height: 200px;
				@media(min-width: 768px){
					border-radius: 4px;
				}
			}
		}
		&.brands {
			.inner{
				&:before, &:after {
					display: table;
					content: " ";
				}
				&:after{
					clear: both;
				}
			}
			.brand {
				padding: 5px;
				height: 85px;
				overflow: hidden;
				img {
					margin: 0 auto;
				}
			}
		}
		&.intro {
			color: #777;
		}
	}
}

// CONTENT-WRAPPER
#content-wrapper {
	@include padding-tb(40px);
	background: #fff;
	box-shadow: 0 -2px 5px rgba(0,0,0,0.075);
	position: relative;
	z-index: 2;
	@media (min-width: 768px) and (max-width: 991px) {
		margin-bottom: 380px;
	}
	@media (min-width: 992px) {
		margin-bottom: 350px;
	}
	@media (min-width: 1200px) {
		margin-bottom: 350px;
	}
}

/* FOOTER */
footer {
	@media (min-width: 768px) {
		position: fixed;
	}
	background: #fff;
	bottom: 0;
	width: 100%;
	a{
		color: $global-color !important;
		&:hover {
			color: $global-bg-hover !important;
		}
	}
	.container {
		@include padding-t-b(50px,10px);
		// border-radius: 4px 4px 0 0;
		color: $global-color;
		#logo {
			@media(max-width: 767px){
				margin-left: auto;
				margin-right: auto;
			}
		}
		.head {
			font-size: 2em;
		}
		ul{
			list-style: none;
			padding: 0;
			@media(max-width: 767px){
				padding: 15px 0 0 0;
			}
			li {
				a{
					&:hover {
						margin-left: 5px;
					}
				}
			}
		}
		.sitemap {

		}
		.contact {

		}
	}
	.footer-prebottom {
		@media (min-width: 768px) {
			background: -moz-linear-gradient(top,  rgba(239,231,179,0.65) 0%, rgba(255,253,247,0) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,231,179,0.65)), color-stop(100%,rgba(255,253,247,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(239,231,179,0.65) 0%,rgba(255,253,247,0) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(239,231,179,0.65) 0%,rgba(255,253,247,0) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(239,231,179,0.65) 0%,rgba(255,253,247,0) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(239,231,179,0.65) 0%,rgba(255,253,247,0) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6efe7b3', endColorstr='#00fffdf7',GradientType=0 ); /* IE6-9 */

			padding: 20px 100px 10px 100px;
			border-radius: 100px 100px 0 0;
			border-bottom: none;
		}
		.container {
			@include padding-tb(5px);
		}
		.social-icons {
			font-size: 0.9em;
			@media (max-width: 767px) {
				margin-bottom: 20px;
			}
			i.fa {
				font-size: 1.5em;
				padding-right: 10px
			}
			a {
				padding: 0 10px;
				background-color: transparent;
				&:first-child {
					padding-left: 0;
				}
				&:last-child {
					padding-right: 0;
				}
			}
		}
		.mauris {
			@media (min-width: 768px) {
				text-align: right;
				font-size: 0.9em;
			}
		}
	}
	.footer-bottom {
		height: 50px;
		background: url('../images/pattern-global-dot.png');
	}
}